.header__container {
  width: 100%;
  height: 72px;
}

.header__items {
  width: 100%;
  height: 72px;
  background-color: #ffffff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.header__logoHome {
  padding: 0.5rem;
}

.header__logoHome-image {
  width: 100px;
  height: 28px;
}

.header__menu {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.header__redirect-button {
  min-width: 133px;
  padding: 12px 1.4rem;
  background-color: transparent;
  font-family: var(--fuente_principal);
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--color_fondo-o-letra_botones-2);
  border: 1px solid var(--color_fondo-o-letra_botones-2);
  cursor: pointer;
  transition: all 0.4s;
}

.header__redirect-button:hover {
  transform: scale(1.05);
  background-color: var(--color_fondo-o-letra_botones-2);
  color: var(--contrast-ligth-color);
}

.header__search {
  display: flex;
  justify-self: flex-end;
  gap: 4px;
  padding: 10px;
}

.header__search-input {
  display: none;
  min-width: 150px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(150, 200, 150, 50%);
}

.header__search-button {
  background-color: transparent;
  border: none;
}

.header__search-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .header__items {
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .header__logoHome {
    padding-left: 1rem;
  }

  .header__menu {
    padding-right: 2rem;
    flex-direction: row-reverse;
  }

  .header__redirect-button {
    min-width: 166px;
  }

  .header__search {
    background-color: var(--transparency-color);
    border-radius: 20px;
  }

  .header__search-input {
    display: block;
    border: none;
    background-color: transparent;
  }
}

@media screen and (min-width: 1024px) {
  .header__logoHome {
    padding-left: 4rem;
  }

  .header__menu {
    padding-right: 4rem;
  }

  .header__redirect-button {
    min-width: 182px;
    padding: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .header__items {
    gap: 1rem;
  }

  .header__logoHome-image {
    width: 176px;
    height: 50px;
  }

  .header__search {
    padding: 8px 16px;
    gap: 10rem;
  }
}
