.product__header {
  flex-direction: row;
  align-items: center;
}

.product__mostrar {
  display: flex;
  gap: 8px;
  text-decoration: none;
  font-family: var(--fuente_principal);
  font-size: 1rem;
  font-weight: 500;
  color: var(--color_fondo-o-letra_botones-2);
}

.product__mostrar:hover {
  text-decoration: underline;
}
